{{> card}}

<div class="login">
  <h1 class="title has-text-centered">Ingrese sus datos</h1>
  <form action="/api/auth/" method="POST">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="text" name="username" placeholder="username">
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" name="password" placeholder="Password">
      </div>
    </div>
    <div class="field">
      <div class="control has-text-centered mt-5 mb-5">
        <button class="button is-primary">Login</button>
      </div>
    </div>
  </form>
</div>

</div>
</div>
</section>

<script>

  localStorage.clear();

  


</script>