<section class="section animate__animated  animate__fadeIn">
    <div class="container">
        <div class="columns is-centered">
            <div class="column  box is-three-quarters ">

                <div class=' equal-height has-text-centered '>

                    <figure><img src='https://revistapym.com.co/wp-content/uploads/2021/06/Punto-Red.png' width="200"
                            height="200"></figure>

                </div>

               